@keyframes colorchangeBlue
{
  0%   {color: black;}
  8.33333333333%   {color: blue;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

@-webkit-keyframes colorchangeBlue /* Safari and Chrome - necessary duplicate */
{
  0%   {color: black;}
  8.33333333333%   {color: blue;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

.loopBlue {
  animation: colorchangeBlue 20s; /* animation-name followed by duration in seconds*/
  animation-iteration-count:infinite;
  -webkit-animation: colorchangeBlue 20s; /* Chrome and Safari */
  -webkit-animation-iteration-count:infinite; 
}

@keyframes colorchangeOrange
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: orange;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

@-webkit-keyframes colorchangeOrange /* Safari and Chrome - necessary duplicate */
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: orange;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

.loopOrange {
  animation: colorchangeOrange 20s; /* animation-name followed by duration in seconds*/
  animation-iteration-count:infinite;

  -webkit-animation: colorchangeOrange 20s; /* Chrome and Safari */
  -webkit-animation-iteration-count:infinite;
}

@keyframes colorchangeGrey
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: grey;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

@-webkit-keyframes colorchangeGrey /* Safari and Chrome - necessary duplicate */
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: grey;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

.loopGrey {
  animation: colorchangeGrey 20s; /* animation-name followed by duration in seconds*/
  animation-iteration-count:infinite;

  -webkit-animation: colorchangeGrey 20s; /* Chrome and Safari */
  -webkit-animation-iteration-count:infinite;
}

@keyframes colorchangeGreen
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: green;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

@-webkit-keyframes colorchangeGreen /* Safari and Chrome - necessary duplicate */
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: green;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

.loopGreen {
  animation: colorchangeGreen 20s; /* animation-name followed by duration in seconds*/
  animation-iteration-count:infinite;

  -webkit-animation: colorchangeGreen 20s; /* Chrome and Safari */
  -webkit-animation-iteration-count:infinite;
}

@keyframes colorchangeYellow
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: yellow;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

@-webkit-keyframes colorchangeYellow /* Safari and Chrome - necessary duplicate */
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: yellow;}
  83.3333333333%  {color: black;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

.loopYellow {
  animation: colorchangeYellow 20s; /* animation-name followed by duration in seconds*/
  animation-iteration-count:infinite; 

  -webkit-animation: colorchangeYellow 20s; /* Chrome and Safari */
  -webkit-animation-iteration-count:infinite; 
}

@keyframes colorchangeRed
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: re;}
  91.6666666667%  {color: red;}
  100% {color: black;}
}

@-webkit-keyframes colorchangeRed /* Safari and Chrome - necessary duplicate */
{
  0%   {color: black;}
  8.33333333333%   {color: black;}
  16.6666666667%  {color: black;}
  25.0%   {color: black;}
  33.3333333333%  {color: black;}
  41.6666666667%   {color: black;}
  50.0%  {color: black;}
  58.3333333333%   {color: black;}
  66.6666666667%  {color: black;}
  75.0%   {color: black;}
  83.3333333333%  {color: red;}
  91.6666666667%  {color: black;}
  100% {color: black;}
}

.loopRed {
  animation: colorchangeRed 20s; /* animation-name followed by duration in seconds*/
  animation-iteration-count:infinite;

  -webkit-animation: colorchangeRed 20s; /* Chrome and Safari */
  -webkit-animation-iteration-count:infinite;
}
